* {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(183, 183, 241);
}

h1, h2, h3, h4, h5, h6 {
    color: black;
} 

p, label {
    color:midnightblue;
}

input {
    border: nome;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"], textarea {
width: 400px;

}

textarea {
    padding: 10px 5px;
}
.cabecalho {
    height: 160px;
    padding: 20px;
    background-color: paleturquoise;
}

.cabecalho h3{
color: aqua;
margin-top: 0;
}
